%div.checkboxContainer
  = hidden_field_tag options[:name], 0
  = component_block :checkbox, "input.#{options[:class]} checkbox", { |
      attr_map: "name:name,disabled:disabled,checked:checked",        |
      id:       "checkbox_#{options[:name]}",                         |
      type:     "checkbox",                                           |
    }, options                                                        |

  %label{ for: "checkbox_#{options[:name]}" }
    = options[:_label]
  - unless options[:_popup_hint].blank?
    = component :hint_with_trigger, i18n: options[:_popup_hint]
  = render partial: "webface_components/field_hints", locals: { options: options }
