= component_block (options[:as_attr] ? nil : :form_field), "input", { |
    attr_map: "value:value",                                          |
    value: get_value_for_field_name(options),                         |
    type: "hidden"                                                    |
  }, options                                                          |
