- id = "hint_#{options.delete(:id)}_#{options[:i18n].to_s.sha512_hash(Rails.application.class.parent_name.to_s, 15)}"
= image_tag "hint_trigger.svg", class: "hintTrigger", id: id

= component :hint, options.merge({ anchor: id, hint_id: id }) do
  - if options.has_key?(:title)
    = options[:title]
  - elsif options[:i18n]
    = I18n.t("hints.#{options[:i18n]}")
  - else
    = options[:content]
