= component_block :hint, ".helpHint", {                            |
    attr_map:                                                      |
      "anchor,show_events,force_show_events,autoshow_delay," +     |
      "autohide_delay,display_limit,keep_open_when_hover,hint_id", |
    show_events: "mouseover",                                      |
    force_show_events: "click,touchend",                           |
    roles: "hint",                                                 |
    display_limit: 1,                                              |
    spinner_el: ".spinner"                                         |
  }, options do                                                    |

  .arrowUp
  .content
    = image_tag "close_notification.png", class: "close", data: { component_part: "close" }
    = capture(&block) if block
  .arrowDown
