= component_block :form_field, "div", {                                                          |
    class: (options[:class] || "") +                                                             |
      " field text#{" errors" if options[:model] && !get_error_for_field_name(options).blank?}", |
  }, options.except(:tabindex, :name, :value) do           |

  - if options[:_label]
    %label
      = options[:_label]
      - unless options[:_popup_hint].blank?
        = component :hint_with_trigger, i18n: options[:_popup_hint]

  = component_part :value_holder, "input", {                         |
      attr_map: "name:name,value:value",                             |
      type: "password",                                              |
      value: get_value_for_field_name(options)                       |
    }, options.slice(:type, :tabindex, :name, :autocomplete, :model) |
  = options[:suffix]
  = render partial: "webface_components/field_hints", locals: { options: options }
