= component_block :simple_notification, ".simpleNotification", {                                  |
    attr_map: "autohide_delay,permanent,container_role,message_type,show_behavior,hide_behavior", |
    autohide_delay: 5000,                                                                         |
  }, options.except(:message) do                                                                  |

  .container
    = component_part :message, ".message", data: { component_attr: "message" } do
      = options[:message]
    = image_tag "close_simple_notification.svg", class: "close", data: { component_part: "close" }
