.helpHint {

  display: none; position: absolute; border-radius: 7px; min-width: 10rem; min-height: 2.5rem; max-width: 20rem; background-color: #E6CA5C; font-size: 0.9rem; line-height: 1.25rem; color: #6E5803; font-weight: normal; z-index: 1000;
  .content {
    padding: 0.5rem 0.7rem; text-align: left; white-space: normal;
    img.close { width: 0.7rem; float: right; cursor: pointer; margin: 0 0 0.5rem 0.5rem; }
  }

  .arrowUp { width: 0; height: 0; border-left: 0.6rem solid transparent; border-right: 0.6rem solid transparent; border-bottom: 0.6rem solid #E6CA5C; margin-top: -0.5rem; }
  .arrowDown { width: 0; height: 0; border-left: 0.6rem solid transparent; border-right: 0.6rem solid transparent; border-top: 0.6rem solid #E6CA5C; margin-bottom: -0.5rem; }

  &.arrowBottomLeft {
    .arrowDown { margin-left: 0.8rem; }
    .arrowUp   { display: none; }
  }

  &.arrowTopRight {
    .arrowDown { display: none; }
    .arrowUp   { position: relative; left: 100%; margin-left: -2.5rem; }
  }

  &.arrowTopLeft {
    .arrowDown { display: none; }
    .arrowUp   { margin-left: 0.8rem; }
  }

  &.arrowBottomRight {
    .arrowDown { position: relative; left: 100%; margin-left: -2.5rem; }
    .arrowUp   { display: none; }
  }

}

img.hintTrigger { width: 1rem; cursor: pointer; }
