@mixin box-shadow($color, $a, $b, $c, $d) {
  -webkit-box-shadow: $a $b $c $d $color;
  -moz-box-shadow: $a $b $c $d  $color;
  box-shadow: $a $b $c $d  $color;
}

@mixin inset-box-shadow($color, $a, $b, $c, $d) {
  -webkit-box-shadow: inset $a $b $c $d $color;
  -moz-box-shadow: inset $a $b $c $d  $color;
  box-shadow: inset $a $b $c $d  $color;
}
